body {
    margin: auto 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
}

.navlist ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.navlist li {
    padding: 1.1em;
}

.navlist a {
    color: white;
    font-size: 1em;
    font-family: monospace, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.navlist li a:hover {
    color: #63D1F6;
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 3px 0px;
}

#img {
    width: 60px;
    height: 60px;
    margin-top: 1vh;
    margin-right: 2vw;
    border-radius: 50%;
}

.description {
    color: white;
    text-align: center;
    margin: 2% 4% 1% 4%;
    font-size: 1.1em;
}

.cont {
    width: 100%;
    min-height: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_container {
    position: relative;
    width: 70%;
    height: 70vh;
    border: 2px solid #01FF01; 
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    border-radius: 15px;
    overflow: hidden; 
}

.slides {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    background: white;
    padding: 4%; 
    box-sizing: border-box;
    overflow-y: auto; 
    display: none; 
}

.slide h3{
    text-align: center;
}
    
.slide p{
    padding: 3% 6%;
    font-size: 1.1em;
}

.slide.active {
    display: block; 
}

.skills-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.skills-table th,
.skills-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.download-container {
    text-align: center; 
    margin-top: 8%;  
}

.download-link {
    font-size: 3em;
    color: #007BFF; 
}

.download-link:hover {
    color: #0056b3; 
}

.arrow {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
}

.left {
    left: 10vw; 
}

.right {
    right: 10vw;
}

.arrow:hover {
    background-color: #01FF01; 
}

.indicators {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh; 
}

.dot {
    height: 0.65em;
    width: 0.65em;
    margin: 0 2.5px;
    background-color: #aca9a9;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #ffffff; 
}

.dot:hover {
    background-color: #01FF01; 
}

@media screen and (max-width: 770px) {
    #img {
        margin-right: 3vw;
    }
    .toggle-button {
        display: flex;
        position: absolute;
        left: 3vw;
    }
    .navlist ul {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        padding: 20px;
        top: 12%;
        left: 0;
        background-color: #000000ee;
    }
    .navlist li {
        padding: 0.3em;
    }
    .navlist ul.active {
        display: flex;
    }

    .left {
        left: 5vw; 
    }
    
    .right {
        right: 5vw; 
    }
    .arrow {
        top: 70%;
    }
    .description {
        margin: 1% 3% 1% 3%;
        font-size: 1em;
    }
    .slide p{
        padding: 2% 4%;
        font-size: 1em;
    }
}
@media screen and (max-width: 770px) {
    .arrow {
        font-size: 1.7em;
    }
    .dot {
        height: 0.6em;
        width: 0.6em;
        margin: 0 2.3px;
        transition: background-color 0.3s;
    }    
}